.side_bar
  .side-header
    .side-header__box
      %p.side-header__box__name
        mario
      %ul.side-header__box__icons
        %li.side-header__box__icons__edit
          =link_to "#"do
            =icon('fa','edit')
        %li.side-header__box__icons__conf
          =link_to "#"do
            =icon('fa','cog')
  .side-groups
    =link_to"#"do
      .group
        %p.group__name
          marioman
        %p.group__lastlog
          test
    
      
